<html>
    <head>
    </head> <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <body>
        <form action="" method="POST">  {{form.csrf_token}}
          <input type="hidden"  name="emails" id="emails">
             <select id="num">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>

             <div id="container">

            </div>
              <h6> Click submit when you are done filling the form</h6>
                <input type="submit" onclick="myFunction()" value="Submit form">

        </form>


        <script type="text/javascript">
            var selectElement = document.getElementById('num');
            var containerElement = document.getElementById('container');

            var update = function () {
                containerElement.innerHTML =  "" ;
                for (var i = 0, l = selectElement.value; i < l; ++i) {

                    containerElement.innerHTML += `
                    <p>
                        <div class="email">
                          <div class="form-group">
                              <label for="exampleInputEmail1">Email address</label>
                              <input type="email" class="form-control" name="exampleInputEmail[]" id="exampleInputEmail-${i}" aria-describedby="emailHelp" placeholder="Enter email">
                              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          </div>
                        </div>
                    </p>`;
                    // how to add code in the for loop??????????????????
                } // add a number of couples of <input> equal to selectElm.value
            }


            // var listen, evt;
            // if (document.attachEvent) {
            //     listen = 'attachEvent';
            //     evt = 'onchange' ;
            // } else {
            //     listen = 'addEventListener';
            //     evt = 'change';
            // }
            // try {
            //     selectElement[listen](evt, update);
            // } catch (e) {
            //     selectElement[listen](evt, update, false);
            // }
            selectElement.addEventListener('change', update)

            var emails=[]

            function myFunction() {
              for (var i = 0; i < selectElement.value; i++) {
                emails[i] = document.getElementById(`exampleInputEmail-${i}`).value
              }
                document.getElementById('emails').value=emails
        }



        </script>
    </body>
</html>
